.landing-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.landing-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 3500px;
    position: relative;
}

.landing-page .div-2 {
    position: absolute;
    width: 1440px;
    height: 859px;
    top: 0;
    left: 0;
}

.landing-page .hero-text {
    display: flex;
    flex-direction: column;
    width: 689px;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: 194px;
    left: 79px;
}

.landing-page .page-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .tecnologia-que {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Instrument Sans-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: normal;
}

.landing-page .text-wrapper {
    font-weight: 700;
    letter-spacing: -0.82px;
}

.landing-page .span {
    font-family: "Instrument Serif-Italic", Helvetica;
    font-style: italic;
    letter-spacing: -0.82px;
}

.landing-page .p {
    position: relative;
    align-self: stretch;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000bf;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
}

.landing-page .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 20px 32px;
    position: relative;
    flex: 0 0 auto;
    background-color: #000000;
    border-radius: 60px;
    box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.landing-page .component {
    position: absolute;
    width: 440px;
    height: 600px;
    top: 173px;
    left: 845px;
    background-color: #014bba;
    border-radius: 46px;
    transform: rotate(-4.91deg);
    box-shadow: var(--8px);
}

.landing-page .intersect {
    position: absolute;
    width: 281px;
    height: 150px;
    top: 924px;
    left: 2834px;
    transform: rotate(4.91deg);
}

.landing-page .overlap {
    position: absolute;
    width: 574px;
    height: 725px;
    top: -12px;
    left: -24px;
}

.landing-page .star {
    position: absolute;
    width: 386px;
    height: 390px;
    top: 320px;
    left: 172px;
    transform: rotate(4.91deg);
}

.landing-page .text {
    position: absolute;
    width: 400px;
    height: 123px;
    top: 465px;
    left: 44px;
    background-color: var(--variable-collection-cream);
    border-radius: 26px;
    box-shadow: var(--2px);
}

.landing-page .overlap-group {
    position: relative;
    width: 253px;
    height: 120px;
    top: 2px;
    left: 10px;
}

.landing-page .text-wrapper-3 {
    position: absolute;
    height: 44px;
    top: 51px;
    left: 0;
    font-family: "Instrument Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--variable-collection-soft-black);
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 44px;
    white-space: nowrap;
}

.landing-page .text-wrapper-4 {
    position: absolute;
    height: 44px;
    top: 76px;
    left: 0;
    font-family: "HK Grotesk Wide-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--variable-collection-soft-black);
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 44px;
    white-space: nowrap;
}

.landing-page .text-wrapper-5 {
    position: absolute;
    height: 44px;
    top: 0;
    left: 0;
    font-family: "Instrument Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--variable-collection-soft-black);
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 44px;
    white-space: nowrap;
}

.landing-page .text-wrapper-6 {
    position: absolute;
    height: 44px;
    top: 25px;
    left: 0;
    font-family: "HK Grotesk Wide-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-soft-black);
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 44px;
    white-space: nowrap;
}

.landing-page .ellipse {
    position: absolute;
    width: 328px;
    height: 338px;
    top: 13px;
    left: 14px;
    transform: rotate(4.91deg);
}

.landing-page .BIG-text {
    position: absolute;
    height: 44px;
    top: 174px;
    left: 262px;
    transform: rotate(90.00deg);
    font-family: "HK Grotesk Wide-ExtraBold", Helvetica;
    font-weight: 800;
    color: #f6ede5;
    font-size: 100px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 44px;
    white-space: nowrap;
}

.landing-page .photo {
    position: absolute;
    width: 320px;
    height: 420px;
    top: 34px;
    left: 44px;
    border-radius: 26px;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
}

.landing-page .ellipse-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 33px;
    left: 224px;
    background-color: #d9d9d9;
    border-radius: 20px;
}

.landing-page .navigation {
    position: absolute;
    width: 1440px;
    height: 127px;
    top: 0;
    left: 0;
}

.landing-page .contato {
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: flex-end;
    gap: var(--variable-collection-spacing-m);
    position: absolute;
    top: 36px;
    left: 1283px;
}

.landing-page .div-wrapper {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    padding: 14px 24px;
    flex: 0 0 auto;
    margin-left: -6.00px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-1-font-family);
    font-weight: var(--body-1-font-weight);
    color: #ffffff;
    font-size: var(--body-1-font-size);
    letter-spacing: var(--body-1-letter-spacing);
    line-height: var(--body-1-line-height);
    white-space: nowrap;
    font-style: var(--body-1-font-style);
}

.landing-page .pginas {
    position: absolute;
    width: 1039px;
    height: 127px;
    top: 0;
    left: 173px;
    overflow: hidden;
}

.landing-page .sobre-mim {
    position: absolute;
    width: 138px;
    height: 76px;
    top: 32px;
    left: 42px;
}

.landing-page .text-wrapper-8 {
    position: absolute;
    height: 76px;
    top: -1px;
    left: 0;
    font-family: "Garet-Book", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 76px;
    white-space: nowrap;
}

.landing-page .projetos {
    position: absolute;
    width: 105px;
    height: 38px;
    top: 52px;
    left: 929px;
}

.landing-page .text-wrapper-9 {
    position: absolute;
    height: 38px;
    top: -1px;
    left: 0;
    font-family: "Garet-Book", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 37.5px;
    white-space: nowrap;
}

.landing-page .text-wrapper-10 {
    position: absolute;
    height: 38px;
    top: 51px;
    left: 661px;
    font-family: "Garet-Book", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 37.5px;
    white-space: nowrap;
}

.landing-page .acadmico {
    position: absolute;
    width: 151px;
    height: 38px;
    top: 51px;
    left: 284px;
}

.landing-page .text-wrapper-11 {
    position: absolute;
    width: 151px;
    height: 38px;
    top: -1px;
    left: 0;
    font-family: "Garet-Book", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 37.5px;
}

.landing-page .logo {
    position: absolute;
    width: 98px;
    height: 139px;
    top: -4px;
    left: 494px;
    background-image: url(./img/logo.png);
    background-size: cover;
    background-position: 50% 50%;
}

.landing-page .overlap-2 {
    position: absolute;
    width: 1441px;
    height: 2630px;
    top: 870px;
    left: 0;
}

.landing-page .experiencias {
    position: absolute;
    width: 1440px;
    height: 803px;
    top: 885px;
    left: 1px;
}

.landing-page .line {
    width: 1436px;
    top: 796px;
    position: absolute;
    height: 6px;
    left: 0;
}

.landing-page .overlap-3 {
    position: absolute;
    width: 1260px;
    height: 742px;
    top: 18px;
    left: 40px;
}

.landing-page .FLIPBOOK {
    position: absolute;
    width: 1160px;
    height: 640px;
    top: 102px;
    left: 100px;
    border-radius: 46px;
}

.landing-page .overlap-group-2 {
    position: relative;
    width: 580px;
    height: 640px;
    left: 580px;
    border-radius: 0px 46px 46px 0px;
}

.landing-page .element {
    position: absolute;
    width: 580px;
    height: 640px;
    top: 0;
    left: 0;
    background-color: var(--variable-collection-meta-blue);
    border-radius: 0px 46px 46px 0px;
    overflow: hidden;
}

.landing-page .text-wrapper-12 {
    position: absolute;
    width: 355px;
    height: 175px;
    top: 226px;
    left: 109px;
    font-family: "HK Grotesk Wide-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 300px;
    text-align: center;
    letter-spacing: 0;
    line-height: 44px;
}

.landing-page .element-2 {
    position: absolute;
    width: 580px;
    height: 640px;
    top: 0;
    left: 0;
    background-color: var(--variable-collection-orange-accent);
    border-radius: 0px 46px 46px 0px;
    overflow: hidden;
}

.landing-page .element-3 {
    position: absolute;
    width: 580px;
    height: 640px;
    top: 0;
    left: 0;
    background-color: var(--variable-collection-red-rasberry);
    border-radius: 0px 46px 46px 0px;
    overflow: hidden;
}

.landing-page .COVER {
    position: absolute;
    width: 580px;
    height: 640px;
    top: 0;
    left: 0;
    background-color: var(--variable-collection-meta-blue);
}

.landing-page .frame {
    position: relative;
    width: 500px;
    height: 200px;
    top: 107px;
    left: 40px;
    mix-blend-mode: hard-light;
    background-image: url(./img/frame-1321316175.png);
    background-size: cover;
    background-position: 50% 50%;
}

.landing-page .copy {
    display: flex;
    flex-direction: column;
    width: 681px;
    height: 717px;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-s);
    position: absolute;
    top: 0;
    left: 0;
}

.landing-page .text-wrapper-13 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--healine-1-BOLD-font-family);
    font-weight: var(--healine-1-BOLD-font-weight);
    color: #000000;
    font-size: var(--healine-1-BOLD-font-size);
    letter-spacing: var(--healine-1-BOLD-letter-spacing);
    line-height: var(--healine-1-BOLD-line-height);
    font-style: var(--healine-1-BOLD-font-style);
}

.landing-page .overlap-wrapper {
    position: absolute;
    width: 1440px;
    height: 885px;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 10px 8px 16px #abbed166;
}

.landing-page .content-wrapper {
    position: relative;
    width: 1441px;
    height: 868px;
    top: 9px;
}

.landing-page .content {
    position: relative;
    width: 1282px;
    height: 721px;
    top: 73px;
    left: 80px;
}

.landing-page .photo-2 {
    position: absolute;
    width: 480px;
    height: 721px;
    top: -4px;
    left: 0;
    border-radius: 26px;
    border: 10px solid;
    border-color: var(--variable-collection-cream);
    background-image: url(./img/photo.png);
    background-size: cover;
    background-position: 50% 50%;
}

.landing-page .copy-2 {
    display: flex;
    flex-direction: column;
    width: 681px;
    height: 717px;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-s);
    position: absolute;
    top: 0;
    left: 601px;
}

.landing-page .paragraph {
    position: relative;
    align-self: stretch;
    font-family: "Instrument Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}

.landing-page .navigation-footer {
    position: absolute;
    width: 1440px;
    height: 264px;
    top: 2366px;
    left: 0;
    background-color: #ffffff;
}

.landing-page .social-icons {
    display: flex;
    width: 191px;
    height: 40px;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-XS);
    position: absolute;
    top: 139px;
    left: 640px;
}

.landing-page .buttons-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--variable-collection-red-rasberry);
    border-radius: 80px;
}

.landing-page .icon {
    position: relative;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 8px;
    background-color: #ffffff;
}

.landing-page .img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
}

.landing-page .icon-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 8px;
}

.landing-page .icon-2 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
}

.landing-page .buttons-icon-2 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--variable-collection-red-rasberry);
    border-radius: 90px;
}

.landing-page .icon-3 {
    position: absolute;
    width: 20px;
    height: 14px;
    top: 5px;
    left: 2px;
}

.landing-page .divider {
    position: absolute;
    width: 1280px;
    height: 1px;
    top: 0;
    left: 80px;
    object-fit: cover;
}

.landing-page .text-wrapper-14 {
    position: absolute;
    height: 24px;
    top: 221px;
    left: 469px;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #000000;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.landing-page .text-wrapper-15 {
    position: absolute;
    height: 76px;
    top: 42px;
    left: 541px;
    font-family: var(--healine-1-BOLD-font-family);
    font-weight: var(--healine-1-BOLD-font-weight);
    color: #000000;
    font-size: var(--healine-1-BOLD-font-size);
    text-align: center;
    letter-spacing: var(--healine-1-BOLD-letter-spacing);
    line-height: var(--healine-1-BOLD-line-height);
    white-space: nowrap;
    font-style: var(--healine-1-BOLD-font-style);
}

.landing-page .fale-conosco {
    position: absolute;
    width: 1440px;
    height: 682px;
    top: 1687px;
    left: 0;
}

.landing-page .component-2 {
    position: absolute;
    width: 440px;
    height: 600px;
    top: 58px;
    left: 905px;
    background-color: #014bba;
    border-radius: 46px;
    transform: rotate(-4.91deg);
    box-shadow: var(--8px);
}

.landing-page .intersect-2 {
    position: absolute;
    width: 281px;
    height: 150px;
    top: -1514px;
    left: 2983px;
    transform: rotate(4.91deg);
}

.landing-page .overlap-4 {
    position: absolute;
    width: 558px;
    height: 662px;
    top: -12px;
    left: -24px;
}

.landing-page .star-2 {
    position: absolute;
    width: 371px;
    height: 328px;
    top: 319px;
    left: 175px;
    transform: rotate(4.91deg);
}

.landing-page .photo-3 {
    position: absolute;
    width: 320px;
    height: 420px;
    top: 34px;
    left: 44px;
    border-radius: 26px;
    background-image: url(./img/photo-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.landing-page .contact-form {
    position: absolute;
    width: 666px;
    height: 608px;
    top: 50px;
    left: 80px;
    background-color: #ffffff;
    border-radius: 26px;
    box-shadow: var(--6px);
}

.landing-page .overlap-5 {
    position: relative;
    height: 608px;
}

.landing-page .form {
    display: flex;
    flex-wrap: wrap;
    width: 666px;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-SM);
    padding: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    border-radius: 46px;
}

.landing-page .input {
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 80px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.landing-page .text-wrapper-16 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #000000;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    font-style: var(--small-text-font-style);
}

.landing-page .field {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 12px 16px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
    box-shadow: var(--button-shadow);
}

.landing-page .label {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #828282;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    font-style: var(--small-text-font-style);
}

.landing-page .input-2 {
    width: 297px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.landing-page .input-3 {
    width: 626px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.landing-page .label-wrapper {
    padding: 12px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
    box-shadow: var(--button-shadow);
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #828282;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    font-style: var(--small-text-font-style);
}

.landing-page .input-4 {
    width: 626px;
    height: 194px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.landing-page .button-2 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    padding: 16px 32px;
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-17 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #ffffff;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    white-space: nowrap;
    font-style: var(--body-text-font-style);
}

.landing-page .heading {
    display: flex;
    flex-direction: column;
    width: 666px;
    align-items: flex-start;
    gap: var(--variable-collection-spacing-s);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 46px;
}

.landing-page .text-wrapper-18 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Instrument Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 60px;
}

.landing-page .line-2 {
    width: 1440px;
    top: 883px;
    position: absolute;
    height: 6px;
    left: 0;
}
