:root {
    --body-1-font-family: "Instrument Sans", Helvetica;
    --body-1-font-weight: 400;
    --body-1-font-size: 18px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: 28px;
    --body-1-font-style: normal;
    --body-2-font-family: "Instrument Sans", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 16px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: 24px;
    --body-2-font-style: normal;
    --body-3-font-family: "Instrument Sans", Helvetica;
    --body-3-font-weight: 400;
    --body-3-font-size: 14px;
    --body-3-letter-spacing: 0px;
    --body-3-line-height: 20px;
    --body-3-font-style: normal;
    --body-4-font-family: "Instrument Sans", Helvetica;
    --body-4-font-weight: 400;
    --body-4-font-size: 12px;
    --body-4-letter-spacing: 0px;
    --body-4-line-height: 16px;
    --body-4-font-style: normal;
    --headline-3-font-family: "Instrument Sans", Helvetica;
    --headline-3-font-weight: 400;
    --headline-3-font-size: 28px;
    --headline-3-letter-spacing: 0px;
    --headline-3-line-height: 36px;
    --headline-3-font-style: normal;
    --headline-2-font-family: "Instrument Sans", Helvetica;
    --headline-2-font-weight: 600;
    --headline-2-font-size: 36px;
    --headline-2-letter-spacing: 0px;
    --headline-2-line-height: 44px;
    --headline-2-font-style: normal;
    --headline-1-font-family: "Instrument Sans", Helvetica;
    --headline-1-font-weight: 600;
    --headline-1-font-size: 64px;
    --headline-1-letter-spacing: 0px;
    --headline-1-line-height: 76px;
    --headline-1-font-style: normal;
    --headline-4-font-family: "Instrument Sans", Helvetica;
    --headline-4-font-weight: 600;
    --headline-4-font-size: 20px;
    --headline-4-letter-spacing: 0px;
    --headline-4-line-height: 28px;
    --headline-4-font-style: normal;
    --healine-1-BOLD-font-family: "HK Grotesk Wide", Helvetica;
    --healine-1-BOLD-font-weight: 900;
    --healine-1-BOLD-font-size: 64px;
    --healine-1-BOLD-letter-spacing: 0px;
    --healine-1-BOLD-line-height: 76px;
    --healine-1-BOLD-font-style: normal;
    --small-text-font-family: "Inter", Helvetica;
    --small-text-font-weight: 500;
    --small-text-font-size: 16px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 150%;
    --small-text-font-style: normal;
    --body-text-font-family: "Inter", Helvetica;
    --body-text-font-weight: 500;
    --body-text-font-size: 20px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 150%;
    --body-text-font-style: normal;
    --2px: 0px 2px 4px 0px rgba(171, 190, 209, 0.6);
    --4px: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
    --6px: 0px 6px 12px 0px rgba(171, 190, 209, 0.3);
    --8px: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
    --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --variable-collection-soft-black: rgba(38, 50, 56, 1);
    --variable-collection-meta-blue: rgba(8, 102, 255, 1);
    --variable-collection-red-rasberry: rgba(217, 4, 41, 1);
    --variable-collection-primary-blue: rgba(2, 89, 221, 1);
    --variable-collection-secondary-red: rgba(198, 9, 51, 1);
    --variable-collection-orange-accent: rgba(227, 80, 38, 1);
    --variable-collection-cream: rgba(247, 238, 229, 1);
    --variable-collection-light-gray: rgba(113, 113, 113, 1);
    --variable-collection-dark-gray: rgba(77, 77, 77, 1);
    --variable-collection-spacing-s: 24px;
    --variable-collection-spacing-m: 48px;
    --variable-collection-spacing-SM: 32px;
    --variable-collection-spacing-XS: 8px;
}
